<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FitWeb</title>
    <link rel="stylesheet" href="/css/extraplayer.css">
</head>

<body>

    <section>
        <div class="navbar">
            <div class="header">
                <p class=head>Fit<span class="web">Web</span></p>
                <a class="help" href="/playerback" rel="noopener" target="_blank">Go Back</a>
            </div>
        </div>
    </section>
    <h1>Neck Stretch: Behind-the-Back</h1>
    <main class="container">
        <section class="main-video">
            <video src="/css/manipulate text background.mp4" controls autoplay muted></video>
        </section>

        <section class="video-playlist">
            <h3 class="title">Select the Lesson</h3>
            <p>6 lessions &nbsp; . &nbsp; 50m 48s</p>
            <div class="videos">

            </div>
        </section>
    </main>

    <div class="footer">
        <div class="foot">
            <div>
                <a class="about hover" href="https://github.com/srikifreaky" rel="noopener" target="_blank">About</a>
                <a class="terms hover" href="https://github.com/srikifreaky" rel="noopener" target="_blank">Terms &
                    Conditions</a>
            </div>
            <p class="p">Copyright © 2023 FitWeb (Group - 20 Project) Inc. All rights reserved.</p>
        </div>
    </div>
    <!--   FOOTER  -->
    <script src="/css/extra.js"></script>
</body>

</html>