<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forgotten.css">
    <link rel="ico" href="/css/icon.ico">
    <title>FitWeb</title>
</head>

<body>

    <section>
        <div class="navbar">
            <div class="header">
                <p class=head>Fit<span class="web">Web</span></p>
                <a class="help" href= "/nothing" rel="noopener">Go back</a>
            </div>
        </div>
    </section>

    <section>
        <div class="main">
            <div class="main-container">
                <label for="email" class= "emailof">Enter you email</label>
                <input type="text" class = "forgotten" placeholder="somwthing@gmil.com">
                <a class = "submit" href="/nothing">Submit</a>
            </div>
        </div>

    </section>

    <!--   FOOTER  -->
    <div class="footer">
        <div class="foot">
            <div>
                <a class="about hover" href="https://github.com/srikifreaky" rel="noopener" target="_blank">About</a>
                <a class="terms hover" href="https://github.com/srikifreaky" rel="noopener" target="_blank">Terms &
                    Conditions</a>
            </div>
            <p class="p">Copyright © 2023 FitWeb (Group - 20 Project) Inc. All rights reserved.</p>
        </div>
    </div>
    <!--   FOOTER  -->

</body>

</html>