<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/instructoruplode.css">
    <link rel="ico" href="/css/icon.ico">
    <title>FitWeb</title>
</head>

<body>
    <!--   HEADER  -->
    <section>
        <div class="navbar">
            <div class="header">
                <p class=head>Fit<span class="web">Web</span></p>
                <a class="help" href="/instructorlogout" rel="noopener">Log Out</a>
            </div>
        </div>

    </section>
    <!--   HEADER  -->
    <div class="selector">
        <a class="links" href="/instructorexplore">Explore</a>
        <a class="links now" href="/instructoruplode">Uplode</a>
        <a class="links" href="/instructormedia">Media</a>
        <a class="links" href="/instructorproduct">Product</a>
        <a class="links" href="/instructornotification">Notification</a>
    </div>
    <div class="main">
        <div class="main-container">
            <div class="uplode-container noway">
                <h1>Uplode Successfull..!</h1>
                <p>We will notify you Shortly</p>
                <a class = "why" href="/mypage">Go back</a>
            </div>
        </div>
    </div>
    </div>
    <!--   HEADER  -->



    <!--   FOOTER  -->
    <div class="footer">
        <div class="foot">
            <div>
                <a class="about hover" href="https://github.com/srikifreaky" rel="noopener" target="_blank">About</a>
                <a class="terms hover" href="https://github.com/srikifreaky" rel="noopener" target="_blank">Terms &
                    Conditions</a>
            </div>
            <p>Copyright © 2023 FitWeb (Group - 20 Project) Inc. All rights reserved.</p>
        </div>
    </div>
    <!--   FOOTER  -->

</body>

</html>