<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/css/instructornotification.css">
    <link rel="ico" href="/css/icon.ico">
    <title>FitWeb</title>
</head>

<body>
    <!--   HEADER  -->
    <section>
        <div class="navbar">
            <div class="header">
                <p class=head>Fit<span class="web">Web</span></p>
                <a class="help" href="/instructorlogout" rel="noopener" >Log Out</a>
            </div>
        </div>
        <div class="selector">
            <a class="links" href="/instructorexplore">Explore</a>
            <a class="links" href="/instructoruplode">Uplode</a>
            <a class="links" href="/instructormedia">Media</a>
            <a class="links" href="/instructorproduct">Product</a>
            <a class="links now" href="/instructornotification">Notification</a>
            <a class="links" href="mailto:srikanth10messi@example.com">Contact Us</a>
        </div>
        <!--   HEADER  -->

        <!--   MAIN  -->
        <div class="main">
            <div class="container">
                <div class="welcome">
                    <img src="/css/profilepic.jpg" alt="profile pic">
                    <p><span>Welcome to FitWeb</span><br> Hope you will have a great time here..!</p>
                </div>
                <div class="certi welcome">
                    <img src="/css/profilepic.jpg" alt="profile pic">
                    <p><span>We are verifying your Certification</span><br>Will be in touch shortly..!</p>
                </div>
            </div>
        </div>
        <!--   MAIN  -->

        <!--   FOOTER  -->
        <div class="footer">
            <div class="foot">
                <div>
                    <a class="about hover" href="https://github.com/srikifreaky" rel="noopener"
                        target="_blank">About</a>
                    <a class="terms hover" href="https://github.com/srikifreaky" rel="noopener" target="_blank">Terms &
                        Conditions</a>
                </div>
                <p>Copyright © 2023 FitWeb (Group - 20 Project) Inc. All rights reserved.</p>
            </div>
        </div>
        <!--   FOOTER  -->
    </section>
</body>

</html>