<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/instructormedia.css">
    <link rel="ico" href="/css/icon.ico">
    <title>FitWeb</title>
</head>

<body>
    <!--   HEADER  -->
    <section>
        <div class="navbar">
            <div class="header">
                <p class=head>Fit<span class="web">Web</span></p>
                <a class="help" href="/instructorlogout" rel="noopener">Log Out</a>
            </div>
        </div>

        <div class="selector">
            <a class="links" href="/instructorexplore">Explore</a>
            <a class="links" href="/instructoruplode">Uplode</a>
            <a class="links now" href="/instructormedia">Media</a>
            <a class="links" href="/instructorproduct">Product</a>
            <a class="links" href="/instructornotification">Notification</a>
            <a class="links" href="mailto:srikanth10messi@example.com">Contact Us</a>
        </div>

    </section>
    <!--   HEADER  -->

    <div class="main">
        <div class="main-container">
            <div class="content-container">
                <img src="/css/cardio 1.jpg" alt="image">
                <h1>Aerobic Exercise</h1>
                <h2 class="rupees">Rs: X</h2>
                <br>
                <p><span>Desc:Aerobic exercise is any type of cardiovascular conditioning, or “cardio.” It can include
                        activities like brisk walking,
                        swimming, running, or cycling. By definition, aerobic exercise means “with oxygen.” Your
                        breathing and heart rate will
                        increase during aerobic activities.</span></p>
            </div>
            <div class="content-container" id="width">
                <div class="one"></div>
                <div class="two"></div>
            </div>

        </div>



    </div>
    <!--   HEADER  -->



    <!--   FOOTER  -->
    <div class="footer">
        <div class="foot">
            <div>
                <a class="about hover" href="https://github.com/srikifreaky" rel="noopener" target="_blank">About</a>
                <a class="terms hover" href="https://github.com/srikifreaky" rel="noopener" target="_blank">Terms &
                    Conditions</a>
            </div>
            <p>Copyright © 2023 FitWeb (Group - 20 Project) Inc. All rights reserved.</p>
        </div>
    </div>
    <!--   FOOTER  -->

</body>

</html>