<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ac1a0e98bd.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/css/icon.ico">
    <link rel="stylesheet" href="/css/instructor-home-signup.css">
    <title>FitWeb (G - 20)</title>
</head>

<body>

    <!--   HEADER  -->
    <section>
        <div class="navbar">
            <div class="header">
                <p class=head>Fit<span class="web">Web</span></p>
                <a class="help" href="https://github.com/srikifreaky" rel="noopener">Help?</a>
            </div>
        </div>
    </section>
    <!--   HEADER  -->

    <!--   MAIN  -->
    <section>
        <div class="main">
            <h1>Instructor Signup</h1>
            <div class="form-container">
                <form action="/registerinstructor" method="POST" class="form">
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name *" value="" name="firstname"
                                    required />
                            </div>
        
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name *" value="" name="lastname"
                                    required />
                            </div>
        
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email *" value="" name="email"
                                    required />
                            </div>
        
                            <div class="form-group">
                                <input type="text" minlength="10" maxlength="10" name="phone" class="form-control"
                                    placeholder="Your Phone *" value="" required />
                            </div>
        
        
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Your Age *" value="" name="age"
                                    required />
                            </div>
        
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="maxl">
                                    <label class="radio inline">
                                        <input type="radio" name="gender" value="male" checked required>
                                        <span> Male </span>
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="gender" value="female" required>
                                        <span>Female </span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password *" value="" name="password" required />
                            </div>
        
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Confirm Password *" value=""
                                    name="confirmpassword" required />
                            </div>
        
                            <input type="submit" class="btnRegister" value="Register" />
                        </div>
                    </div>
                </form>
                <a href="/backinstructor">Already have an Account?</a>
            </div>
        </div>
    </section>
    <!--   MAIN  -->

    <!--   FOOTER  -->
    <div class="footer">
        <div class="foot">
            <div>
                <a class="about hover" href="https://github.com/srikifreaky" rel="noopener" target="_blank">About</a>
                <a class="terms hover" href="https://github.com/srikifreaky" rel="noopener" target="_blank">Terms &
                    Conditions</a>
            </div>
            <p>Copyright © 2023 FitWeb (Group - 20 Project) Inc. All rights reserved.</p>
        </div>
    </div>
    <!--   FOOTER  -->


</body>

</html>