<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/instructoruplode.css">
    <link rel="ico" href="/css/icon.ico">
    <title>FitWeb</title>
</head>

<body>
    <!--   HEADER  -->
    <section>
        <div class="navbar">
            <div class="header">
                <p class=head>Fit<span class="web">Web</span></p>
                <a class="help" href="/instructorlogout" rel="noopener">Log Out</a>
            </div>
        </div>

        <div class="selector">
            <a class="links" href="/instructorexplore">Explore</a>
            <a class="links now" href="/instructoruplode">Uplode</a>
            <a class="links" href="/instructormedia">Media</a>
            <a class="links" href="/instructorproduct">Product</a>
            <a class="links" href="/instructornotification">Notification</a>
            <a class="links" href="mailto:srikanth10messi@example.com">Contact Us</a>
        </div>

    </section>
    <!--   HEADER  -->

    <div class="main">
        <div class = "main-container">
            <div class = "uplode-container">
                <h1>Uplode your video files!</h1>
                <form action="/video" method="post">
                    <label for="file" class = "label" >Enter the title</label>
                    <input type="text" class = "area" name="title" placeholder="Eg: Aerobic Exercise">
                    <span></span>
                    <label for="file" class="label">Enter the Description</label>
                    <textarea name="description" id="" cols="44" rows="8" class="areaone"></textarea>
                    <span></span>
                    <label for="file" class="label">How many videos did you uplode??</label>
                    <input type="text" class="area" name = "num" placeholder="Ex: 2">
                    <span></span>
                    <br>
                    <label for="">Uplode your drive link here!</label>
                    <br>
                    <input type="text" name="file" id ="file" class = "area" required placeholder="https://drive.google.com/"><br><br>
                    <label for="file" class="label">Expected Cost of the Course?</label>
                    <input type="text" class="area" name="price" placeholder="Ex: Rs X">
                    <button class = "btn">Submit</button>
                </form>
            </div>
        </div>
    </div>       
    </div>
    <!--   HEADER  -->



    <!--   FOOTER  -->
    <div class="footer">
        <div class="foot">
            <div>
                <a class="about hover" href="https://github.com/srikifreaky" rel="noopener" target="_blank">About</a>
                <a class="terms hover" href="https://github.com/srikifreaky" rel="noopener" target="_blank">Terms &
                    Conditions</a>
            </div>
            <p>Copyright © 2023 FitWeb (Group - 20 Project) Inc. All rights reserved.</p>
        </div>
    </div>
    <!--   FOOTER  -->

</body>

</html>