<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/css/icon.ico">
    <link rel="stylesheet" href="/css/main.css">
    <title>FitWeb (G - 20)</title>
</head>

<body>
    <!--   HEADER  -->
    <section>
        <div class="navbar">
            <div class="header">
                <p class=head>Fit<span class="web">Web</span></p>
                <a class="help" href="https://github.com/srikifreaky" rel="noopener" target="_blank">Help?</a>
            </div>
        </div>
    </section>
    <!--   HEADER  -->

    <!--   MAIN  -->
    <section>
        <div class="main">
            <div class="instructor">
                <p class="i">Come teach</p>
                <div class="div">with us</div>
                <div class="info">Become an instructor and change lives</div>
                <div class = "clicker"><a href="/instructor-home-login" class="links">Instructor</a></div>
            </div>
            <div class="instructor">
                <p class="i">Become Fit</p>
                <div class="div">with Fitweb</div>
                <div class="info">Train your body for fitness..!</div>
                <div class = "clicker"><a href="/logini" class="links">User</a></div>
            </div>
        </div>
    </section>
    <!--   MAIN  -->

    <!--   FOOTER  -->
    <div class="footer">
        <div class="foot">
            <div>
                <a class="about hover" href="https://github.com/srikifreaky" rel="noopener" target="_blank">About</a>
                <a class="terms hover" href="https://github.com/srikifreaky" rel="noopener" target="_blank">Terms &
                    Conditions</a>
            </div>
            <p>Copyright © 2023 FitWeb (Group - 20 Project) Inc. All rights reserved.</p>
        </div>
    </div>
    <!--   FOOTER  -->


</body>

</html>