<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/css/shopone.css">
    <link rel="ico" href="/css/icon.ico">
    <title>FitWeb</title>
</head>

<body>
    <!--   HEADER  -->
    <section>
        <div class="navbar">
            <div class="header">
                <p class=head>Fit<span class="web">Web</span></p>
                <a class="help" href="/userhome" rel="noopener">Go Back</a>
            </div>
        </div>
        
        <!--   HEADER  -->

        <!--   MAIN  -->
        <div class="main">
            <div class="container">
                <div>
                    <h1>Shopping Cart</h1>
                    <p>1 course in cart</p>
                    <hr>
                </div>
                <div class = "name">
                    <img src="/css/stretching 4.jpg" alt="logo">
                    <div class = "aa">
                        <h1>Neck Stretch: Behind-the-Back</h1>
                        <p>Instructor 4</p>
                        <br><br>
                        <p class = "info" style="color: black; font-size: 1.1rem">Stretching your neck at the end of your workout routine helps to increase flexibility, improves range of motion, and
                        reduces muscle soreness. Adding this stretch to your everyday routine helps to remove tension, muscle knots, and
                        tightness in the neck.</p>
                    </div>
                    <div class = "total">
                        <p>Total:</p>
                        <h1>₹ X</h1>
                        <div class="clicker"><a href="/checkoutextraone" class="links">Checkout</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="recom">
            <div class="nine">
                <h1>Try out Something new!</h1>
                <div class="eight">
                    <div class="desc">
                        <a href="/checkoutuserone" title="1"><img class="img" src="/css/stretching 1.jpg" alt=""></a>
                        <p>Glute Stretch</p>
                        <span>Instructor 1</span>
                    </div>
                    <div class="desc dist">
                        <a href="/checkoutuserone" title="1"><img class="img" src="/css/stretching 2.jpg" alt=""></a>
                        <p>Low-Back and Glute Stretch</p>
                        <span>Instructor 2</span>
                    </div>
                    <div class="desc dist">
                        <a href="/checkoutuserone" title="1"><img class="img" src="/css/stretching 3.jpg" alt=""></a>
                        <p>Quad Stretch: Kneeling <br>Quad Stretch</p>
                        <span>Instructor 3</span>
                    </div>
                    <div class="desc dist"> 
                        <a href="/checkoutuserone" title="1"><img class="img down" src="/css/stretching 5.jpg" alt=""></a>
                        <p>Hip-Flexors Stretch: Lunge With <br> Reach and Twist</p>
                        <span>Instructor 5</span>
                    </div>
                </div>
            </div>
        </div>
        <!--   MAIN  -->

        <!--   FOOTER  -->
        <div class="footer">
            <div class="foot">
                <div>
                    <a class="about hover" href="https://github.com/srikifreaky" rel="noopener"
                        target="_blank">About</a>
                    <a class="terms hover" href="https://github.com/srikifreaky" rel="noopener" target="_blank">Terms &
                        Conditions</a>
                </div>
                <p class = "desc">Copyright © 2023 FitWeb (Group - 20 Project) Inc. All rights reserved.</p>
            </div>
        </div>
        <!--   FOOTER  -->
    </section>
</body>

</html>