<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ac1a0e98bd.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/css/icon.ico">
    <link rel="stylesheet" href="/css/user-home-login.css">
    <title>FitWeb (G - 20)</title>
</head>

<body>

    <!--   HEADER  -->
    <section>
        <div class="navbar">
            <div class="header">
                <p class=head>Fit<span class="web">Web</span></p>
                <a class="help" href="/back" rel="noopener" >Go Back</a>
            </div>
        </div>
    </section>
    
    <!--   MAIN  -->
    <section>
        <div class="main">
            <h1>User Login</h1>
            <div class="form-container">
                <img class="logo" src="/css/download.png" alt="logo" title="logo">
                <form class="form-signin" action="/loginuser" method="POST">
                    <input type="email" class="form-control" placeholder="Email" required name="email" autocomplete="off">
                    <input type="password" class="form-control" placeholder="Password" required name="password">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    <label class="checkbox pull-left mt-3">
                <a href="/register" class="text-center new-account">Create an Account!</a><br>
                <a href="/forgottenuser" class="text-center new-account">Forgotten Password?</a>
                </div>
            </div>
        </div>
    </section>
    <!--   MAIN  -->
    
    <!--   FOOTER  -->
    <div class="footer">
        <div class="foot">
            <div>
                <a class="about hover" href="https://github.com/srikifreaky" rel="noopener" target="_blank">About</a>
                <a class="terms hover" href="https://github.com/srikifreaky" rel="noopener" target="_blank">Terms &
                    Conditions</a>
            </div>
            <p>Copyright © 2023 FitWeb (Group - 20 Project) Inc. All rights reserved.</p>
        </div>
    </div>
    <!--   FOOTER  -->

</body>

</html>