<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/css/userreward.css">
    <link rel="ico" href="/css/icon.ico">
    <title>FitWeb</title>
</head>

<body>
    <!--   HEADER  -->
    <section>
        <div class="navbar">
            <div class="header">
                <p class=head>Fit<span class="web">Web</span></p>
                <a class="help" href="/userlogout" rel="noopener" >Log Out</a>
            </div>
        </div>
        <div class="selector">
            <a class="links" href="/userhome">Home</a>
            <a class="links" href="/userproduct">Product</a>
            <a class="links" href="/usernotification">Notification</a>
            <a class="links now" href="/userreward">Rewards</a>
            <a class="links" href="mailto:srikanth10messi@example.com">Contact Us</a>
        </div>
        <!--   HEADER  -->

        <!--   MAIN  -->
        <div class="main">
            <div class="container">
                <div class="welcome">
                    <img src="/css/badge1.jpeg" alt="">
                </div>
                <div class="welcome">
                <img src="/css/badge2.jpeg" alt="">
                </div>
                <div class="welcome">
                <img src="/css/badge3.jpeg" alt="">
                </div>
                <div class="welcome">
                <img src="/css/badge4.jpeg" alt="">
                </div>
                <div class="welcome">
                <img src="/css/badge5.jpeg" alt="">
                </div>
                <div class="welcome">
                <img src="/css/badge6.jpeg" alt="">
                </div>
            </div>
        </div>
        <!--   MAIN  -->

        <!--   FOOTER  -->
        <div class="footer">
            <div class="foot">
                <div>
                    <a class="about hover" href="https://github.com/srikifreaky" rel="noopener"
                        target="_blank">About</a>
                    <a class="terms hover" href="https://github.com/srikifreaky" rel="noopener" target="_blank">Terms &
                        Conditions</a>
                </div>
                <p>Copyright © 2023 FitWeb (Group - 20 Project) Inc. All rights reserved.</p>
            </div>
        </div>
        <!--   FOOTER  -->
    </section>
</body>

</html>

