:root {
    --primary : white;
    --secondary : black;
    --text : black;
}

body {
    background-image: var(--primary);
    font-family: sans-serif;
    color: var(--text);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar
{
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(161, 161, 161, 0.623);
    background-image: url(/2024142.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header
{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.head
{
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 80, 255);
    cursor:pointer;
    font-weight: bold;
}

.web
{
    font-size: 1.5rem;
    color: #000000;
}

.help
{
    margin-right: 50px;
    text-decoration: none;
    color: rgb(0, 80, 255);
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: text-decoration 0.2s ease-in-out;
    font-weight: bold;
}


.help:hover
{
    border-bottom: 2px solid black;
}

.selector
{
    width: 100%;
    height: auto;
    background-color: #000000;
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.links
{
    margin-left: 30px;
    text-decoration: none;
    color: rgb(228, 228, 228);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.links:hover
{
    border-bottom: 1px solid white;
}

.now
{
    border-bottom: 1px solid white;
}


.container {
    width: 90vw;
    height: 30vw;
    display: grid;
    grid-template-columns: 1.8fr 1.2fr;
    gap: 1rem;
    padding: .5rem 1rem;
    text-transform: capitalize;
    margin-top: 22px;
}

@media screen and (max-width: 990px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.main-video, .video-playlist {
    width: 100%;
    height: 30rem;
}

.main-video .title {
    margin-top: 1rem;
}

.video-playlist .title {
    padding-left: 1rem;
}

.video-playlist > p {
    padding: 1rem;
    color: var(--secondary);
}

.video-playlist .videos{
    height: 70%;
    overflow-y: auto;
}

.video-playlist .videos::-webkit-scrollbar {
    width: .4rem;
    border-radius: .4rem;
    background-color: #0005;
}

.video-playlist .videos::-webkit-scrollbar-thumb {
    border-radius: .4rem;
    background-color: #585858;
}

.video-playlist .videos .video {
    position: relative;
    width: 100%;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 1rem;
    margin-top: .1rem;
    cursor: pointer;

    border-radius: .5rem;
}

.video-playlist .videos .video:hover {
    background-color: #0003;
}

.video-playlist .videos .video.active {
    background-color: #0003;
    color: var(--secondary);
}

.main-video video {
    width: 100%;
    border-radius: .5rem;
}

.video img {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    
    width: 1.5rem;
    height: 1.5rem;
    
    filter: invert(100%);
}

.video-playlist .videos .video.active img {
    filter: invert(100%) sepia(100%) saturate(2000%) hue-rotate(360deg);
}

.video p {
   margin-left: 2.5rem;
}

.video h3 {
    width: 23rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font: 100 1rem sans-serif;
    padding: 0 .5rem;
}



.footer
{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(156, 156, 156, 0.438);
    position: relative;
    top:115px;
}

.foot
{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hover
{
    text-decoration: none;
    color: rgb(0, 80, 255);
    margin-left: 20px;
    font-weight: bold;
}

.hover:hover
{
    border-bottom: 2px solid black;
}

.footer,a
{
    font-size: .9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444444;
}

h1
{
    position: relative;
    right:600px;
    top: 20px;
}