body
{
    margin: 0;
    align-items: center;
    background-image: url(/css/2024142.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-------------------------------------------- NAV BAR -------------------------------*/

.navbar
{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(211, 211, 211, 0.438);
    
}

.header
{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.head
{
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 80, 255);
    cursor:pointer;
    font-weight: bold;
}

.web
{
    font-size: 1.5rem;
    color: #000;
}

.help
{
    margin-right: 50px;
    text-decoration: none;
    color: rgb(0, 80, 255);
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: text-decoration 0.2s ease-in-out;
    font-weight: bold;
}


.help:hover
{
    border-bottom: 2px solid black;
}

/*-------------------------------------------- MAIN -------------------------------*/

.main
{
    width: 100%;
    height: 84vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-container
{
    width: 400px;
    height: 50%;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 10px 10px 40px 10px lightgrey;
}

span
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}
h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: rgb(34, 74, 255);
}

p
{
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
}

a:hover
{
    border-bottom: 1px solid black;
}
a
{
    color: rgb(0, 89, 255);
    text-decoration: none;
}

/*-------------------------------------------- FOOTER -------------------------------*/

.footer
{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(156, 156, 156, 0.438);
}

.foot
{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hover
{
    text-decoration: none;
    color: rgb(0, 80, 255);
    margin-left: 20px;
    font-weight: bold;
}

.hover:hover
{
    border-bottom: 2px solid black;
}

.footer,a
{
    font-size: .9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p
{
    font-size: .9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444444;
}



/*-------------------------------------------- FOOTER -------------------------------*/

.footer
{
    margin-top: 150px;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(156, 156, 156, 0.438);
}

.foot
{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hover
{
    text-decoration: none;
    color: rgb(0, 80, 255);
    margin-left: 20px;
    font-weight: bold;
}

.hover:hover
{
    border-bottom: 2px solid black;
}

.footer,a
{
    font-size: .9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444444;
}

.emailof
{
    font-size: 1.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.forgotten
{
    font-size: 1.2rem;
    padding: 10px;
    border: 0px;
    border-bottom: 1px solid black;
    background-color: transparent;
    margin-top: 10px;
}

.forgotten:focus
{
    outline: none;
}


.submit
{
    padding: 10px;
    margin-top: 10px;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-size: 1.3rem;
    margin-top: 20px;
}