body
{
    margin: 0;
}

/* ---------------*/

.navbar
{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(161, 161, 161, 0.623);
    background-image: url(/css/2024142.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header
{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.head
{
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 80, 255);
    cursor:pointer;
    font-weight: bold;
}

.web
{
    font-size: 1.5rem;
    color: #000000;
}

.help
{
    margin-right: 50px;
    text-decoration: none;
    color: rgb(0, 80, 255);
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: text-decoration 0.2s ease-in-out;
    font-weight: bold;
}


.help:hover
{
    border-bottom: 2px solid black;
}

.selector
{
    width: 100%;
    height: auto;
    background-color: #000000;
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.links
{
    margin-left: 30px;
    text-decoration: none;
    color: rgb(228, 228, 228);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.links:hover
{
    border-bottom: 1px solid white;
}

.now
{
    border-bottom: 1px solid white;
}

/* ---------------*/

.main
{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
     background-image: url(/css/2.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}

.container
{
    width: 85%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    border-radius: 25px;
}

h1
{
    color: rgb(0, 102, 255);
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*-------------------------------------------- FOOTER -------------------------------*/

.footer
{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(156, 156, 156, 0.438);
}

.foot
{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hover
{
    text-decoration: none;
    color: rgb(0, 80, 255);
    margin-left: 20px;
    font-weight: bold;
}

.hover:hover
{
    border-bottom: 2px solid black;
}

.footer,a
{
    font-size: .9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444444;
}