body
{
    margin: 0;
}

/* ---------------*/

.navbar
{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(161, 161, 161, 0.623);
    background-image: url(/css/2024142.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header
{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.head
{
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 80, 255);
    cursor:pointer;
    font-weight: bold;
}

.web
{
    font-size: 1.5rem;
    color: #000000;
}

.help
{
    margin-right: 50px;
    text-decoration: none;
    color: rgb(0, 80, 255);
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: text-decoration 0.2s ease-in-out;
    font-weight: bold;
}


.help:hover
{
    border-bottom: 2px solid black;
}

.selector
{
    width: 100%;
    height: auto;
    background-color: #000000;
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.links
{
    margin-left: 30px;
    text-decoration: none;
    color: rgb(228, 228, 228);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.links:hover
{
    border-bottom: 1px solid white;
}

.now
{
    border-bottom: 1px solid white;
}

/* ---------------*/

.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 340px;
  object-fit: cover;
  margin-left: 14px;
  width: calc(100% / 3);
}
.carousel img:first-child{
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}

.main
{
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-container
{
    width: 80%;
    height: 500px;
    border: 1px solid black;
    margin-top: 50px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-container-image
{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content
{
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


.content-container
{
    margin-top: 80px;
    width: 80%;
    height: auto;
}

.down
{
    position: relative;
    top:10px;
}

h1
{
    font-size: 3rem;
    color: rgb(25, 0, 255);
}

.cardio
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.desc
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.img
{
    width: 250px;
    height: 150px;
    transition: transform 0.2s ease-in-out;
    border-radius: 10px;
}

.descc
{
    color: #000000;
    font-size: 1.8rem;
}

.dist
{
    margin-left: 20px;
}

p
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

span
{
    position: relative;
    bottom: 10px;
    color: #777777;
}

img:hover
{
   transform: scale(1.8,1.8);
   transition: transform 0.2s ease-in-out;
   z-index: 1;
}

.middle
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.middle-content
{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 20px;
    margin-left: 50px;
}

.middle-img
{
    width: 500px;
    height: 300px;
}

.middle-main-info
{
    color: rgb(25, 0, 255);
}

.diff
{
    font-size: 4.2rem;
    position: relative;
    left:50px;
    color: #000;
}

.middle-main-sub-info
{
    font-size: 2rem;
    position: relative;
    bottom: 20px;
    color: #000;
}

.middle-content-image-desc
{
    width: 300px;
    position: relative;
    right: 200px;
    bottom: 50px;

}

.ac
{
    font-weight: 500;
}

.inst
{
    color: #686868;
}

.bg
{
    background-color: red;
}



/*-------------------------------------------- FOOTER -------------------------------*/

.footer
{
    margin-top: 150px;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(156, 156, 156, 0.438);
}

.foot
{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hover
{
    text-decoration: none;
    color: rgb(0, 80, 255);
    margin-left: 20px;
    font-weight: bold;
}

.hover:hover
{
    border-bottom: 2px solid black;
}

.footer,a
{
    font-size: .9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444444;
}


.wrapper-class
{
    width: 80%;
    height: 45vh;
    border-radius: 25px;
    margin-top: 25px;
    box-shadow: 10px 10px 50px 1px lightgrey;
    background-image: url(/css/wrapperpage.jpg);
}

.sone
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}